body
{
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	line-height: 160%;
	letter-spacing: 0.5px;
}

#logo
{
	padding-top: 80px;
	font-family: 'Poiret One';
	font-size: 4rem;
	text-align: center;
}

#nav_bar
{
	padding-top: 40px;
	padding-right: 40px;
	list-style-type: none;
	text-align: center;
}

#nav_bar li
{
	display: inline-block;
	list-style-type: none;
}

#nav_bar a
{
	width: 200px;
	display: block;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 2rem;
	text-decoration: none;
	color: black;
}

#nav_bar a:hover
{
	color: black;
	text-decoration: none;
}

.links_no_decoration
{
	text-decoration:none;
	color: #000000;
}

.links_no_decoration:hover {
    text-decoration:none;
	color: #000000;
}

.footer-reversed-colors
{
	background-color: #6C6C6C;
	color: #FFF;
}

#benefits, #examples
{
	padding: 40px 0;
	background-color: #6C6C6C;
	color: #F9F9F9;
}

#benefits ul
{
	padding-top: 10px;
	padding-left: 80px;
	line-height: 190%;	
}

#benefits img, #introduction img
{
	width: 270px;
}

#introduction
{
	padding: 40px 0;
	color: #3C3C3C;
}

#examples
{
	height: 360px;
	text-align: center;
}

#examples img
{
	margin-top: 15px;
	margin-bottom: 10px;
	width: 300px;
}

#examples img:hover 
{
    position: relative;
    top: -10px;
    left: -0px;
    width: 400px;
    height: auto;
    display: block;
    z-index: 999;
}

#footer
{
	padding: 30px 0;
	text-align: center;
	font-size: 0.95rem;
}
